lib/
node_modules/
package-lock.json
*~
vendor/
npm-debug.log
bootstrap/compiled.php
.env.*.php
.env.php
.env
temp/
tmp/
*.lock
assets/images/avatar/*.png
assets/images/avatar/*.jpg
assets/images/avatar/*.jpeg
assets/images/avatar/*.gif
assets/images/logos/*.png
assets/images/logos/*.jpg
assets/images/logos/*.jpeg
assets/images/logos/*.gif
assets/files/*.doc
assets/files/*.docx
assets/files/*.odt
assets/files/*.pdf