/* Verde: #12cd6a */

/*box-shadow: #8e2d14*/

/*Rojo: #b0181d*/

/*Naranja: #ce9114*/

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Open+Sans:400,600,700|Raleway:100,300,400,700,800');
body {
  background: #f9f9f9;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 14px;
}

body.modal-open {
  overflow: overlay;
  padding: 0 !important;
}

.text-justify {
  text-align: justify !important;
}

.white-text, span.err.white-text {
  color: #fff !important;
}

span.err.white-text {
  display: block;
  text-align: right;
}

.form-control.select2-container, .select2-container a.select2-choice {
  border-radius: 8px !important;
}

.select2-container a.select2-choice {
  margin-bottom: -5px !important;
}

span.err {
  font-size: 12px !important;
  color: #f00 !important;
}

small.counter {
  float: right !important;
  font-size: 10px !important;
  font-weight: normal !important;
  color: #666 !important;
}

.logo {
  float: left;
  width: 170px;
  padding: 6px 0;
  margin-right: 10px;
}

.pages .navbar .logo {
  padding: 10px 0;
}

.logo img {
  width: 100%;
}

.navbar-toggle {
  margin: 0px;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
  max-height: inherit;
}

.navbar-toggle .icon-bar {
  background-color: #000;
  /*XXX*/
  border-radius: 0;
  height: 4px;
  width: 25px;
}

.mobile-menu.add-job a {
  background: #b0181d none repeat scroll 0 0 !important;
  border: medium none;
  border-radius: 23px;
  color: #ffffff !important;
  text-align: center;
}

.logins {
  position: absolute;
  right: 60px;
  padding: 4px 0;
}

.logins span {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 2px solid #b0181d;
  border-radius: 26px;
  color: #232323;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 13px;
  margin-right: 0;
  padding: 12px 30px;
  width: auto;
}

.logins span:hover {
  background: #b0181d;
  color: #fff;
}

.logins span:hover {
  background: #b0181d;
}

.logins .login {
  background: #b0181d none repeat scroll 0 0;
  border-radius: 23px;
  color: #ffffff;
  float: right;
  line-height: 0;
  margin-left: 10px;
  padding: 15px 18px;
  text-align: center;
}

.logins .login:hover {
  background: #232323;
}

.logins .login i {
  font-size: 16px;
}

a {
  text-decoration: none;
}

h3 {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 40px;
  margin: 0 0 4px;
  color: #333;
}

h4 {
  font-family: 'Open Sans';
  font-size: 15px;
}

h4 span {
  font-family: 'Open Sans';
  font-weight: 700;
  width: 100%;
  float: left;
}

h5 {
  font-family: 'Lato';
  font-weight: 900;
  font-size: 28px;
}

ul li {
  font-family: 'Open Sans';
  font-size: 16px;
  padding-bottom: 12px;
}

.top_header {
  position: absolute;
  top: 29px;
  left: 0;
  right: 0;
  z-index: 2;
}

.navbar-fixed-top, .filter-result:hover, a, .btn, .related_job, input[type="submit"], .posts-list .post-thumb img, .label {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  transition-duration: 0.2s;
}

.navbar-fixed-top {
  padding: 29px 0;
}

.fixed-header .navbar-fixed-top {
  background: #fff;
  box-shadow: 0 0 1px #d6d6d6;
  padding: 10px 0;
}

nav.navbar.home {
  margin: 0;
}

.header_banner {
  position: relative;
  z-index: 1;
}

.pages .navbar {
  background: #fff;
}

.pages.fixed-header .navbar {
  padding: 10px 0;
}

.owl-carousel .owl-item img {
  display: inline !important;
  width: auto !important;
}

button.owl-dot:focus {
  outline: none !important;
}

.slider_items {
  background: url(../images/headerimage1.jpg);
  height: 668px;
  background-attachment: fixed;
  background-position: 0 83%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.slider_items:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  background: #333;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.0) none repeat scroll 0 0;
}

#main-menu {
  min-height: initial;
  margin-bottom: 0;
}

ul.dropdown-menu {
  border: 1px solid #fff;
  border-radius: 14px;
}

#header .navbar-nav li.dropdown:hover ul.dropdown-menu {
  display: block;
  width: 230px;
}

#header .collapse {}

.nav a {
  color: #333;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
}

.nav li {
  margin-right: auto;
  padding-bottom: 0;
}

.nav>li:last-child {
  padding: 0;
  border: medium none;
}

.nav>li a {
  padding: 13px 19px;
}

ul.dropdown-menu li a {
  text-transform: none;
  color: #333 !important;
  padding: 5px 9px;
  margin: 0px 18px;
  border-bottom: 1px solid #e9e9e9;
}

.nav>li:hover a, .nav>li>a:focus, .nav>li>a:hover, .nav li.active a {
  color: #b0181d;
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

ul.tiny_scrolling li a {
  text-transform: none;
  color: #333;
  padding: 13px 4px;
  margin: 0px 18px;
  border-bottom: 1px solid #e9e9e9;
}

ul.dropdown-menu li a:hover {
  color: #b0181d !important;
  text-decoration: none;
}

ul.dropdown-menu li:last-child a {
  border: none;
}

.container.slogan {
  text-align: center;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 164px;
  z-index: -1;
}

.slogan h1 {
  color: #333333;
  font-family: 'Lato';
  font-weight: 900;
  font-size: 58px;
}

.slogan h3 {
  margin: 0;
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 25px;
  color: #333;
  text-align: center;
}

.slogan span {
  color: #b0181d;
}

.slogan a:hover {
  background: #fff;
  color: #333;
  border: 2px solid #ddd;
}

.slogan a {
  background: #fff;
  border: 2px solid #b0181d;
  color: #333;
  display: inline-block;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 15px;
  margin-top: 46px;
  padding: 10px 31px;
  text-decoration: none !important;
  border-radius: 44px;
}

.slogan a span {
  font-family: 'Open Sans';
  font-weight: 700;
}

.jobs_filters .container {
  padding: 0;
}

.jobs_filters .form-group input {
  width: 100%;
  text-align: left;
  border: none;
  border-radius: 0;
  line-height: normal;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 14px;
  padding: 20px 28px 20px 20px;
  color: #333;
  height: inherit;
  border-radius: 0;
  border: none;
  border-radius: 11px;
}

::-webkit-input-placeholder {
  color: #333 !important;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #333 !important;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #333 !important;
}

:-ms-input-placeholder {
  color: #333 !important;
}

.jobs_filters button .glyphicon {
  float: right;
  color: #b0181d;
}

.jobs_filters {
  background: #b0181d;
  padding: 24px 0 9px;
  box-shadow: 0 -17px 15px -17px #8e2d14 inset;
}

.jobs_filters .dropdown-menu {
  width: 100%;
  padding: 11px 0;
  border-radius: 14px;
}

.jobs_filters .dropdown-menu li a {
  border: none;
}

.tiny_scrolling::-webkit-scrollbar-track, .select2-results::-webkit-scrollbar-track, {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d0d0d0;
}

.tiny_scrolling::-webkit-scrollbar, .select2-results::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.tiny_scrolling::-webkit-scrollbar-thumb, .select2-results::-webkit-scrollbar-thumb {
  background-color: #ef4136;
}

.tiny_scrolling, .select2-results {
  overflow: auto;
  margin-right: 15px;
  height: 186px;
  padding: 0;
}

.jobs_filters .tiny_scrolling li a {
  border-bottom: 1px solid #f4f4f4;
  display: block;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 15px;
  padding: 8px;
}

.jobs_filters .tiny_scrolling li a:hover {
  color: #b0181d;
}

.tiny_scrolling li {
  padding: 0;
  list-style: none;
}

.open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover, .btn-default:hover, .open>.dropdown-toggle.btn-default {
  background: #fff !important;
}

.jobs_filters .form-group {
  margin-bottom: 13px;
}

.filter_width.bgicon {
  position: relative;
}

.filter_width.bgicon .glyphicon {
  position: absolute;
  right: 40px;
  top: 22px;
  color: #b0181d;
}

.filter_width.bgicon .fa {
  font-size: 18px;
}

.jobs_filters .form-group .customsubmit {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 2px solid #ffffff;
  text-indent: -9999px;
}

.jobs_filters .form-group .customsubmit:hover {
  background: #ce9114 none repeat scroll 0 0;
  border: 2px solid #ce9114;
}

.jobs_filters .form-group .fa-search {
  color: #fff;
  right: 40px;
}

.jobs_filters .filter_width>span {
  color: #fff;
  display: flex;
  font-size: 13px;
  margin-bottom: 2px;
  margin-top: 8px;
  padding-left: 21px;
  font-family: 'Raleway';
}

.main-container-job {
  padding: 18px 0px;
}

.main-container {
  padding: 58px 0px;
}

.main-container-home {
  padding: 29px 0;
}

.tab_filters {
  float: left;
  width: 100%;
}

.tab_filters h5, .tab_filters h4 {
  margin: 0;
  float: left;
  padding: 19px 0;
}

.tab_filters h5 {
  padding-right: 30px;
  border-right: 1px solid #d0d0d0;
  margin-right: 25px;
}

.jobs-result {
  float: left;
  width: 100%;
  margin-top: 28px;
}

.filter-result:hover {
  border-bottom: 2px solid #b0181d;
}

.filter-result {
  background: #fff;
  padding: 40px 0;
  float: left;
  width: 100%;
  margin-bottom: 15px;
  border-bottom: 2px solid #e4e4e4;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  transition-duration: 0.2s;
}

.filter-result .company-left-info {
  float: left;
  margin-right: 26px;
}

.filter-result .company-left-info img {
  max-width: 53px;
  max-height: 53px;
  border-radius: 50%;
}

.filter-result .box-result {
  float: left;
}

.filter-result .box-result.job {
  float: left;
  width: calc(100% - 80px);
}

.filter-result .box-result h3, .filter-result .box-result h4 {
  margin: 0;
}

.filter-result .box-result h3 {
  font-size: 18px;
  margin: 9px 0;
}

.filter-result .box-result h3:hover {
  color: #3e48d2;
  text-decoration: none;
}

.filter-result .box-result h4 {
  font-size: 13px;
  color: #909090;
}

.label {
  background: #b0181d none repeat scroll 0 0;
  border-radius: 0;
  float: left;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 11px;
  line-height: normal;
  padding: 5px 11px;
}

.filter-result .location {
  width: 100%;
  text-align: right;
}

.filter-result .location p {
  font-size: 12px;
  line-height: normal;
  color: #333;
}

.data-job {
  text-align: left;
}

.data-job {
  float: right;
}

.data-job h3 {
  float: left;
  font-size: 17px;
  line-height: 22px;
  margin-right: 28px;
}

.data-job h4 {
  float: left;
}

/* Beca/Prácticas */
.job-type.job-1 {
  background: #31ce8a;
}

/* Desde Casa */
.job-type.job-2 {
  background: #efc36e;
}

/* Medio Tiempo */
.job-type.job-3 {
  background: #f71212;
}

/* Por Horas */
.job-type.job-4 {
  background: #b0181d;
}

/* Tiempo Completo */
.job-type.job-5 {
  background: #cd9015;
}

.job-type.job-parttime {
  background: #31ce8a;
}

.job-type.job-internship {
  background: #efc36e;
}

.job-type.job-fulltime {
  background: #31ce8a;
}

.label.job-partytime {
  background: #f71212 none repeat scroll 0 0;
  border-radius: 33px;
  text-transform: none;
}

#load_more {
  text-align: center;
  display: block;
  margin: 0 auto;
  color: #333;
  padding: 12px 47px;
  font-family: 'Open Sans';
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
  margin: 55px auto 28px;
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 2px solid #b0181d;
  border-radius: 26px;
}

#load_more:hover {
  background: #b0181d !important;
  color: #fff;
}

#load_more .glyphicon {
  position: absolute;
  right: 17px;
  top: 14px;
}

.count .num {
  display: inline-block;
}

.container.main-container>p {
  font-family: 'Raleway';
  font-weight: 300;
  text-align: center;
}

.white-heading {
  color: #fff;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 39px;
  margin-bottom: 0;
  text-align: center;
}

#style-2 .white-heading span.call-us {
  font-size: 23px;
  float: none;
  position: relative;
  top: -8px;
  padding: 0 50px;
}

.blue-banner .main-container {
  padding: 30px 0;
}

.green-banner .main-container {
  padding: 30px 0;
}

.white-heading span {
  font-family: 'Raleway';
  font-weight: 300;
}

.btn-getstarted {
  font-family: 'Open Sans';
  font-weight: 700;
  color: #fff;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  width: 100%;
  padding: 14px 18px;
}

.btn-getstarted.bg-red {
  background: none;
  border: 2px solid #fff;
  border-radius: 44px;
}

.btn-getstarted.bg-red:hover {
  background: #ce9114;
  color: #fff;
  border: 2px solid #ce9114;
}

#owl-demo .item {
  text-align: center;
  width: 63%;
  margin: 0 auto;
}

#testimonio .item {
  text-align: center;
}

.owl-item .item span.job-type {
  color: #ffffff !important;
  font-size: 11px;
  margin: 5px 0;
}

.owl-item .item h5 {
  color: #ffffff !important;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 22px;
  margin: 5px 0;
}

.owl-item .item span {
  color: #b0181d;
  width: initial;
  font-size: 13px;
}

.owl-item .item span.rating {
  font-size: 22px;
}

#testimonio .owl-item .item p {
  color: #ffffff;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-top: 28px;
  position: relative;
}

.container .owl-pagination .owl-page.active span {
  background: #b0181d;
  border-color: #b0181d;
}

.container .owl-pagination .owl-page span {
  border: 2px solid #fff;
  background: none;
  width: 15px;
  height: 15px;
}

.owl-item .item p:after, .owl-item .item p:before {
  content: "";
}

.clients ul {
  margin: 0;
  list-style: none;
}

.clients ul li {
  padding: 0;
  float: left;
  width: 20%;
}

.clients ul li img {
  opacity: 0.25;
  max-width: 80%;
  max-height: 100px;
  filter: grayscale();
  transition: filter 0.5s ease, opacity 0.5s ease;
}

.clients ul li:hover img {
  opacity: 0.5;
  filter: none;
}

.container-fluid.clients {
  background: #fff;
  box-shadow: 0 0 0 1px #e4e4e4;
  -moz-box-shadow: 0 0 0 1px #e4e4e4;
  -webkit-box-shadow: 0 0 0 1px #e4e4e4;
}

.container-fluid.clients .main-container {
  padding: 32px 0;
}

.footer h3 {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 26px;
}

.footer ul li {
  list-style: none;
  font-size: 15px;
  padding-bottom: 5px;
}

.footer a {
  color: #333;
}

.footer ul li.active a, .footer a:hover {
  color: #b0181d;
  /*padding-left: 6px;*/
}

.footer p {
  font-size: 15px;
  color: #333;
  font-family: 'Lato';
  font-weight: 400;
}

.container-fluid.last-footer {
  border-top: 1px solid #e3e3e3;
}

.container-fluid.last-footer .main-container {
  padding: 35px 0;
}

.last-footer p {
  font-family: 'Lato';
  font-weight: 400;
}

.footer.last-footer ul li {
  padding-bottom: 0;
  float: left;
  padding-right: 20px;
}

.footer.last-footer ul {
  padding: 0;
}

.footer.last-footer ul li:first-child {
  padding-left: 0;
}

.blue-banner {
  background: #b0181d;
}

.green-banner {
  background: #b0181d;
  box-shadow: 0 -17px 15px -17px #8e2d14 inset;
}

.page-title, .header_area {
  margin-top: 103px;
}

.page-title .white-heading {
  font-family: 'Open Sans';
  text-align: left;
  font-size: 49px;
}

.page-title .image-heading {
  font-family: 'Open Sans';
  font-size: 49px;
  text-align: left;
}

.image-heading {
  color: #333;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 39px;
  margin-bottom: 0;
  text-align: center;
}

.favorite {
  color: #fff;
  text-align: right;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 15px;
  padding: 5px 0;
  float: right;
}

.favorite.short {
  padding: 14px 0;
}

.favorite span {
  float: left;
  width: 100%;
}

.favorite.hard {
  font-family: 'Raleway';
  font-weight: 700;
  text-transform: uppercase;
  font-size: 28px;
  padding: 8px 0;
  line-height: normal;
}

.favorite i {
  margin-left: 5px;
}

.btn-print.bg-blue {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 2px solid #b0181d;
  border-radius: 40px;
  color: #333;
}

.btn-print.bg-blue:hover {
  background: #232323;
  border: 2px solid #fff;
  color: #fff;
}

.label {
  border-radius: 14px;
}

.user-data div {
  display: table-cell;
  vertical-align: middle;
}

.avatar.img-responsive {
  max-height: 150px !important;
  max-width: 150px !important;
  border-radius: 50% !important;
  margin: 0 auto;
}

.user-data .user-image {
  padding-right: 16px !important;
}

.user-data .user-image img {
  max-width: 53px;
  max-height: 53px;
  border-radius: 50%;
}

.user-data .user-tag span {
  float: left;
  width: 100%;
  color: #b0181d;
  font-family: 'Lato';
  font-weight: 400;
}

.user-data .user-tag {
  line-height: normal;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 15px;
  width: 100%;
}

.dashboard {
  background: #ffffff none repeat scroll 0 0;
  border-bottom: 1px solid #eee;
}

.user-data {
  display: table;
}

.dashboard .label {
  margin-right: 0;
}

.user-data .user-tag label {
  font-weight: lighter;
  line-height: normal;
  margin: 0;
  padding: 6px 0 0;
  font-size: 12px;
  font-family: 'Lato';
  font-weight: 400;
}

.user-data .user-tag label span {
  font-size: 18px;
  color: #333;
  font-family: 'Open Sans';
  font-weight: 700;
  margin-top: 8px;
}

.user-data .separator {
  padding-right: 3%;
  margin-right: 3%;
  position: relative;
  float: left;
  width: initial;
}

.user-data .separator:last-child {
  padding: 0;
  margin: 0;
}

.user-data .separator:before {
  position: absolute;
  background: #eee;
  right: 0;
  height: 100%;
  width: 1px;
  content: "";
}

.user-data .separator:last-child:before {
  opacity: 0 !important;
}

.white-bg {
  background: #FFF;
}

.post-image img {
  float: left;
  width: 100%;
}

.post-image {
  float: left;
  width: 100%;
}

.content {
  float: left;
  width: 100%;
  padding: 26px 0;
}

.content h3 {
  font-size: 31px;
}

.content p {
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 26px;
  margin-top: 24px;
  text-align: justify;
}

.content h2 {
  font-family: 'Open Sans';
  font-weight: 700;
  margin: 33px 0;
  float: left;
  width: 100%;
  color: #333;
}

ul.skills li {
  list-style: none;
}

.content ul li {
  font-family: 'Open Sans';
  color: #333;
  font-size: 14px;
  list-style: outside none none;
  padding-bottom: 10px;
  padding-left: 25px;
  position: relative;
}

.content ul li:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: #b0181d;
  border-radius: 100%;
  left: 0;
  top: 7px;
}

.content ul {
  float: left;
  width: 100%;
  padding: 0;
}

ul.simple li:before {
  opacity: 0;
}

ul.simple li {
  padding-left: 0;
}

.widget .label {
  background: #232323 none repeat scroll 0 0;
  width: 100%;
  margin: 23px auto 3px;
  border-radius: 40px;
  font-size: 14px;
  padding: 17px 21px;
}

.widget .label i {
  float: right;
  position: absolute;
  right: 42px;
}

.sidebar .widget {
  margin-bottom: 56px;
}

.widget ul {
  padding: 0;
  list-style: none;
}

.widget ul li p {
  margin: 0;
  font-size: 13px !important;
  line-height: 13px;
}

.widget .label.apply-job {
  background: #ffffff none repeat scroll 0 0;
  border: 2px solid #b0181d;
  border-radius: 77px;
  color: #333;
}

.label.apply-job:hover {
  box-shadow: 0 15px 37px #cdcdcd;
}

.widget ul li {
  display: inline-block;
  width: 100%;
  text-align: center;
  position: relative;
  padding-bottom: 5px;
}

.widget ul li.link {
  width: auto !important;
}

.widget ul.social li a {
  color: #2a2a2a;
  /*font-size: 13px;*/
  position: relative;
  float: left;
  /*padding-bottom: 20px;*/
  text-align: center;
  width: auto !important;
}

.widget ul.social li a:hover {
  color: #ce9114;
}

.widget ul.social li {
  text-align: center;
}

.widget ul.social li i {
  width: 10px;
}

.widget ul.social {
  width: 50%;
  margin: 0 auto;
  float: none;
}

.sidebar .widget {
  margin-bottom: 56px;
  width: 100%;
  float: left;
}

.subscribe form {
  text-align: center;
  background: #f6f6f6;
  padding: 28px 32px;
  margin-bottom: 21px;
  border-radius: 31px;
}

.sidebar .subscribe h3 {
  font-size: 15px;
  font-family: 'Open Sans';
  font-weight: 700;
  color: #333;
  text-transform: none;
  margin-bottom: 21px;
  line-height: normal;
}

.subscribe button {
  width: 100%;
}

.subscribe input, .subscribe button {
  width: 100%;
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  padding: 16px 0;
  border: none;
  background: #b0181d;
  color: #fff;
  border-radius: 0;
}

.subscribe .form-group {
  margin-bottom: 0;
}

.subscribe input {
  text-transform: none;
  margin-bottom: 10px;
  border: 1px solid #e3e3e3;
  background: #fff;
  color: #333;
}

.subscribe {
  text-align: center;
}

.subscribe a {
  color: #2a2a2a;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 13px;
}

.subscribe i {
  margin-right: 5px;
}

.job-recom .main-container {
  border-top: 1px solid #f3f3f3;
  padding: 36px 0;
}

.job-recom .main-container h3, .recom {
  font-family: 'Open Sans';
  font-size: 30px;
}

.related_job {
  background: #fff;
  padding: 26px;
  float: left;
  width: 100%;
  border-radius: 19px;
  border-bottom: 1px solid #f3f3f3;
}

.job-recom #review-item .recom-job {
  margin: 10px 0px !important;
  float: left;
}

.job-recom .recom-job {
  margin: 10px;
  float: left;
}

#review-item .related_job h4, #related-job .related_job h4 {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 15px;
  color: #333;
  margin: 0 0 20px;
}

#review-item .related_job p, #related-job .related_job p {
  float: left;
  width: 100%;
  font-family: 'Lato';
  font-weight: 400;
  color: #858585;
  font-size: 13px;
  line-height: normal;
  margin: 21px 0 22px;
}

.related_job .label {
  margin-bottom: 21px;
}

#review-item .owl-item .item span {
  color: #fff;
  font-size: 10px;
  padding: 10px;
  margin: 0;
}

#review-item .related_job span.salary, #related-job .related_job span.salary {
  border-top: 1px solid #dddddd;
  color: #333;
  float: left;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 16px;
  margin: 0;
  padding: 17px 0 0;
  width: 100%;
}

#review-item .related_job p:after, #review-item .related_job p:before {}

.related_job span.salary i {
  float: right;
  cursor: pointer;
}

.job-recom .recom-job .related_job i.fa-star-o {
  color: #ce9411;
}

.job-recom .recom-job:hover .related_job i.fa-star-o {
  display: none;
}

.job-recom .recom-job:hover .related_job i.fa-star {
  display: inline;
}

.job-recom .recom-job .related_job i.fa-star {
  display: none;
}

.call-us {
  color: #fff;
  padding: 10px 0;
  float: left;
}

.job-recom .recom-job:hover .related_job {
  border-bottom: 1px solid #b0181d;
  box-shadow: 0 1px 18px #cdcdcd inset;
}

.job-recom .recom-job:hover .related_job i {
  color: #b0181d;
}

.title-image .page-title {
  background: rgba(0, 0, 0, 0) url("../images/bgimage.png") repeat scroll 0 0 / cover;
}

.section-jobcategories {
  background: #ffffff none repeat scroll 0 0;
  opacity: 0.97;
}

.title-image .section-title {
  position: relative;
}

.title-image .section-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  opacity: 0.20;
}

.title-image .section-title .main-container {
  padding: 68px 0 67px;
}

.title-image .user-data .user-tag, .title-image .user-data .user-tag span {
  color: #fff;
}

.title-image .user-data .separator:before {
  background: #fff;
  opacity: 0.20;
}

.title-image .page-title .job-admin, .title-image .page-title .favorite {
  color: #333;
}

.section-jobinfo .main-container {
  padding: 20px 0;
}

.joblist .jobs-result {
  margin: 0;
}

.joblist.style2 .filter-result {
  width: 49%;
  margin-right: 2%;
  padding: 20px 0;
  margin-bottom: 22px;
}

.joblist.style2 .filter-result:nth-child(even) {
  margin-right: 0;
}

.list-style2 .box-result h3 {
  font-family: 'Open Sans';
  font-weight: 700;
  margin: 0 0 9px;
}

.list-style2 h4 {
  color: #848484;
}

.list-style2 .box-result {
  float: none;
  min-height: 80px;
}

.list-style2 .company-left-info {
  padding: 0;
  margin-right: 14px;
}

.job-footer {
  float: left;
  width: 100%;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #e5e5e5;
  position: relative;
}

.job-footer .label {
  position: absolute;
  top: -53px;
  right: 0;
  margin: 0;
  border-radius: 33px;
  font-size: 10px;
  padding: 11px;
  width: 85px;
}

.job-footer ul {
  padding: 0;
  list-style: none;
  float: left;
  width: 100%;
  margin: 0;
  padding: 10px 0 0;
}

.job-footer ul li {
  float: left;
  padding-right: 7%;
  margin-right: 8%;
  position: relative;
  padding-bottom: 0;
  color: #333;
  font-size: 15px;
}

.job-footer ul li:last-child {
  padding-right: 0;
  margin-right: 0;
}

.job-footer ul li:after {
  content: "";
  position: absolute;
  right: 0;
  height: 100%;
  background: #e5e5e5;
  width: 1px;
  top: 0;
}

.job-footer ul li:last-child:after {
  opacity: 0;
}

.slider-botom {
  background: #1a1a1a;
  float: left;
  width: 100%;
}

.slider-botom h3, .slider-botom h4 {
  float: left;
  width: 100%;
  margin: 0 0 2px;
  font-size: 18px;
}

.slider-botom h3 {
  color: #fff;
  font-size: 22px;
  font-family: 'Open Sans';
  font-weight: 700;
}

.tag {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 0 46px 0 #f0f0f0;
}

.tag h3, .tag ul {}

.tag h3 {
  border-bottom: 1px solid #e5e5e5;
  color: #1a1a1a;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 18px;
  margin: 0 5px 3px;
  padding: 32px 32px 25px;
}

.tag ul {
  padding: 0 40px;
  list-style: none;
  margin-bottom: 0;
}

.tag ul li {
  line-height: normal;
  padding-bottom: 11px;
  padding-top: 5px;
  display: block;
}

.tag ul li a {
  color: #333;
  font-size: 15px;
  font-family: 'Lato';
  font-weight: 400;
  display: block;
}

.tag ul li a:hover {
  color: #b0181d;
}

.page-title p {
  color: #fff;
  font-size: 21px;
  font-family: 'Raleway';
  padding-top: 14px;
}

.lighttext p {
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 21px;
  margin-top: 24px;
}

.main-container.blocks {
  padding-top: 0;
}

.blocks .block {
  box-shadow: 0 0 46px 0 #f0f0f0;
  float: left;
  width: 100%;
  padding: 30px;
}

.blocks h3 {
  border-bottom: 1px solid #eeeeee;
  font-size: 18px;
  padding-bottom: 16px;
  position: relative;
}

.blocks p {
  color: #333333;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
}

.blocks a {
  border: 1px solid #b0181d;
  border-radius: 55px;
  color: #b0181d;
  float: left;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 11px;
  margin-top: 30px;
  padding: 9px 19px;
  text-transform: uppercase;
}

.blocks h3 i {
  float: left;
  width: 100%;
  padding-bottom: 27px;
  color: #31ce8a;
}

.icons-heading span {
  float: left;
  color: #232323;
  font-size: 60px;
}

.icons-heading h3, .icons-heading p {
  padding-left: 110px;
}

.icons-heading h3 {
  font-size: 32px;
  font-family: 'Raleway';
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 19px;
}

.icons-heading p {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 19px;
  color: #585858;
}

.how_work:after, .how_work:before {
  content: "";
  position: absolute;
  background: red;
  height: 100%;
  width: 100%;
  left: 0;
  z-index: -1;
}

.how_work:after {}

.how_work:before {
  display: block;
  width: 50%;
  background: url(../images/how_it_work.png)left no-repeat;
}

.how_work {
  position: relative;
}

.how_work .main-container {
  padding: 0;
}

.how_work .tiny_scrolling {
  height: 1032px;
  min-width: 250px;
  margin-right: 0;
}

.how_work ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.how_work ul li {
  background: #b0181d;
  padding: 69px 50px 69px;
  color: #fff;
  float: left;
  width: 100%;
}

.how_work ul li.active {
  background: #ce9114 !important;
}

.how_work ul li h3 {
  color: #fff;
  font-family: 'Raleway';
  font-weight: 700;
  text-transform: uppercase;
  font-size: 32px;
}

.how_work ul li p {
  font-size: 17px;
  margin-bottom: 0;
  line-height: 25px;
}

.how_work .tiny_scrolling::-webkit-scrollbar-track {
  background-color: #5e86da;
}

.how_work .tiny_scrolling::-webkit-scrollbar {
  width: 9px;
}

.how_work ul li ul li span {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 17px;
  display: block;
  width: 100%;
}

.how_work ul li ul li:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
  right: 0;
  background: #494949;
}

.how_work ul li.counter-row {
  background: #333;
}

.how_work ul li ul li:last-child {
  margin: 0;
  padding: 0;
}

.how_work ul li ul li:last-child:after {
  opacity: 0;
}

ul.alphabet li {
  counter-increment: listStyle;
}

.page-title h5 {
  font-size: 15px;
  color: #fff;
  font-family: 'Lato';
  font-weight: 400;
  margin: 16px 0;
}

.form-group label {
  text-align: right;
  float: left;
  width: 100px;
  margin-right: 22px;
  margin-bottom: 0;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 14px;
  font-weight: normal;
}

.form-group input, .form-group textarea, .form-group select {
  width: 100%;
  background: #fff;
  box-shadow: none;
  border: 1px solid #e1e1e1;
  padding: 18px 16px;
  font-size: 16px;
  color: #333;
  line-height: normal;
  font-family: 'Lato';
  font-weight: 400;
  border-radius: 8px;
}

.form-group input:focus, .form-group textarea:focus, .form-group select:focus {
  outline: none !important;
}

.form-group select.login {
  min-width: 75%;
  width: auto;
  padding: 10px 17px;
  min-height: 41px;
}

.form-group select.login:focus {
  border: none !important;
  outline: none !important;
}

#form-user-info .form-group select {
  height: auto !important;
}

.contact_us .form-group input:focus, .contact_us .form-group textarea:focus, #form-user-info .form-group select:focus {
  border: 1px solid #b0181d !important;
  box-shadow: none !important;
  color: #333;
  outline: none !important;
}

.form-group.submit label {
  opacity: 0;
}

.contact_us .form-group input[type="submit"], #register, #signin {
  width: initial;
  font-family: 'Open Sans';
  font-weight: 700;
  border: none;
  font-size: 14px;
  background: #ce9114;
  text-transform: uppercase;
  padding: 18px 46px;
  color: #fff;
  text-decoration: none;
  border-radius: 33px;
}

#form-user-info .form-group {
  float: left;
  width: 100%;
}

#register:hover, .register:hover, #signin:hover {
  border: 2px solid #ffffff;
}

.contact_us {
  border-bottom: 1px solid#e1e1e1;
}

.about_section h3 {
  font-size: 20px;
}

.about_section p {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
}

ul.contacts {
  padding: 0;
  list-style: none;
  margin-top: 40px;
  margin-bottom: 20px;
}

ul.contacts li i {
  margin-right: 10px;
}

ul.contacts li {
  padding-bottom: 10px;
}

ul.social {
  padding: 0;
  list-style: none;
  float: left;
  width: 100%;
}

ul.social li {
  float: left;
  padding-bottom: 0;
}

ul.social li a {
  color: #333;
  font-size: 20px;
  margin-right: 23px;
}

.about_section {
  padding-bottom: 80px;
  border-bottom: 1px solid #e4e4e4;
}

.login_tabs {
  box-shadow: 0 0 28px -3px #8e2d14 inset;
  background: #b0181d none repeat scroll 0 0;
}

.login_tabs .main-container {
  padding: 80px 0;
}

.login_tabs .nav {}

.tab-content .form-group {
  float: left;
  width: 100%;
}

.login_tabs .tab-content {
  margin-top: 49px;
  float: left;
  width: 100%;
}

.login_tabs .nav li a {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 45px;
  background: none !important;
  color: #ce9114;
  padding: 0;
  padding-right: 60px;
  line-height: normal;
}

.login_tabs .nav li a:hover {
  background: none !important;
  color: #fff;
}

.login_tabs .nav li.active a {
  color: #fff;
}

.login_tabs .contact_us {
  border: none;
}

.login_tabs .contact_us label {
  color: #fff;
  width: 130px;
  margin-left: -51px;
  padding: 2% 0;
}

.login_tabs .contact_us input {
  width: 75%;
  font-size: 16px;
  padding: 10px 17px;
  font-family: 'Lato';
  font-weight: 400;
  border: 1px solid #b0181d;
}

.contact_us .form-group .dropdown {
  width: 75%;
  float: left;
}

.login_tabs .dropdown button {
  border: none;
  text-align: left;
  border-radius: 12px;
  height: 42px;
  width: 100%;
}

.login_tabs .contact_us button span {
  float: right;
  font-size: 12px;
  position: absolute;
  right: 15px;
  top: 15px;
}

.login_tabs .dropdown .dropdown-menu {
  width: 100%;
}

.login_tabs .dropdown .dropdown-menu li a {
  padding: 10px 0;
  border: none;
  display: block;
}

.login_tabs p {
  color: #fff;
  font-size: 20px;
  margin-bottom: 36px;
}

.sidebar h3 {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  line-height: 33px;
  margin-bottom: 28px;
}

.login_tabs .sidebar {
  background: #ce9114;
  margin-top: -109px;
  border-radius: 13px;
}

.login_tabs .sidebar .widget {
  margin-bottom: 0;
  width: 100%;
  float: left;
  padding: 43px 30px;
}

.login_tabs .sidebar .widget li p {
  text-align: left;
  font-size: 15px;
  font-family: 'Lato';
  font-weight: 400;
  margin-bottom: 0;
  line-height: 25px;
}

.login_tabs .sidebar .widget li {
  padding-bottom: 35px;
}

.login_tabs .sidebar .widget li i {
  margin-right: 18px;
}

.login_tabs .sidebar .widget li:last-child {
  padding-bottom: 0;
}

.register {
  background: #b0181d !important;
  border: solid 2px #b0181d;
  font-size: 14px;
  font-family: 'Lato';
  font-weight: 400;
}

.login_tabs .contact_us .lost_password {
  color: #fff;
  font-size: 15px;
  padding: 10px 20px;
}

.form-group.submit .cbox {
  float: left;
  position: relative;
}

.form-group.submit .cbox input[type="checkbox"] {
  width: 100%;
  position: absolute;
  opacity: 0;
  height: 100%;
  z-index: 2;
}

.cbox span:after {
  content: "";
  background: #fff;
  position: absolute;
  left: 0;
  width: 14px;
  height: 14px;
  top: 4px;
  border: 1px solid #566991;
}

.form-group.submit .cbox span {
  font-size: 16px;
  color: #fff;
  padding-left: 23px;
}

.form-group.submit .cbox input[type="checkbox"]:checked+span:after {
  background: red;
}

#signin, #register {
  background: #ce9114 !important;
  border: solid 2px #ce9114;
}

.login_tabs .sidebar .widget li .label.register {
  background: #333;
  width: initial;
  padding: 15px 40px;
}

.fa.fa-clock-o, .fa.fa-child, .fa.fa-check-circle-o {
  font-size: 26px;
}

.page-title .capital h5 {
  text-transform: uppercase;
}

ul.buttons {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.buttons li {
  float: left;
  padding-right: 15px;
  padding-bottom: 0;
}

ul.buttons li:first-child {
  padding-right: 55px;
}

ul.buttons li:last-child {
  padding-right: 0;
}

.post-job .main-container {
  padding: 18px 0;
}

.post-job .main-container label {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 20px;
  margin: 0;
  padding: 8px 0;
}

ul.buttons li #signin, ul.buttons li #register {
  float: left;
  height: 44px;
  line-height: 7px;
}

#form-user-info label {
  width: 200px;
  padding: 17px 0;
}

#form-user-info .btn-group label {
  /*min-height: 57px;*/
  width: auto !important;
  padding: 17px;
  margin: 0;
}

#form-user-info .btn-group:focus, #form-user-info .btn-group label.btn:focus, #form-user-info .btn-group label.btn.focus {
  outline: none !important;
}

span.select2-selection:focus, input.select2-search__field {
  outline: none !important;
}

span.select2.select2-container, span.select2-selection {
  width: 100% !important;
  min-height: 60px !important;
  border-radius: 8px !important;
  height: auto !important;
  padding: 0;
  border-color: #e1e1e1 !important;
}

.select2-selection .select2-selection--single, .select2-selection .select2-selection--multiple {
  min-height: 60px;
  height: auto !important;
}

.select2-container--default .select2-selection__arrow {
  height: 100% !important;
  padding: 18px 0px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding: 18px 16px !important;
  font-size: 16px !important;
  color: #333 !important;
  line-height: normal !important;
  font-family: 'Lato' !important;
  border-radius: 8px !important;
  font-weight: normal !important;
}

.select2-search .select2-search--inline {
  padding: 0 !important;
}

.select2-search__field {
  padding: 0 5px !important;
  min-height: 27px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #ce9114;
  border-color: #ce9114;
  color: #fff;
  line-height: 16px;
  padding: 5px 5px;
}

.select2-selection__choice__remove {
  color: #fff !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  padding: 9px 16px 0px 16px !important;
  font-size: 16px !important;
  color: #333 !important;
  line-height: normal !important;
  font-family: 'Lato' !important;
  font-weight: normal !important;
}

#form-user-info .form-control ul:before {
  content: "";
  margin: 11px 0;
  float: left;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 16px;
  color: #888e94;
}

.container .select2-container-multi ul.select2-choices li {
  background: #ce9114 none repeat scroll 0 0;
  border: medium none;
  border-radius: 33px;
  color: #ffffff;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 16px;
  margin: 5px 8px 5px 0;
  padding: 14px 30px 14px 17px;
}

.container .select2-container-multi ul.select2-choices li:last-child, .container .select2-container-multi ul.select2-choices li.select2-search-field {
  display: none;
}

.container .select2-container-multi ul.select2-choices li a {
  right: 10px;
  position: absolute;
  left: initial;
  background: url(../images/removeitem.png)no-repeat;
  width: 8px;
  height: 8px;
  top: 17px;
  background-size: 100%;
}

.container .select2-container-multi ul.select2-choices li a:hover {
  background-position: initial !important;
}

body ul.select2-results {
  margin: 8px;
  padding-top: 0;
}

#form-user-info .form-control:focus {
  box-shadow: none;
  border: none !important;
}

.select2-drop-active {
  border: 1px solid #e2e2e2 !important;
  border-top: 0p !important;
}

body ul.select2-results li {
  padding: 11px 14px;
  margin-right: 22px;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 16px;
}

.select2-container-multi .select2-choices {
  min-height: 60px !important;
}

.tiny_scrolling, .select2-results {
  height: auto !important;
}

.container .select2-container-multi ul.select2-choices i {
  float: right;
  font-size: 20px;
  position: absolute;
  right: 23px;
  top: 35%;
}

#form-user-info ::-webkit-input-placeholder {
  color: #888e94 !important;
}

#form-user-info :-moz-placeholder {
  /* Firefox 18- */
  color: #888e94 !important;
}

#form-user-info ::-moz-placeholder {
  /* Firefox 19+ */
  color: #888e94 !important;
}

#form-user-info :-ms-input-placeholder {
  color: #888e94 !important;
}

#form-user-info .main-container {
  padding-bottom: 0;
}

.user-information {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 20px;
}

.user-data .main-container {
  padding-top: 28px;
}

.contact_us span {
  font-size: 20px;
  color: #333;
  font-weight: bold;
}

#form-user-info label.default {
  padding: 5px 0;
}

#form-user-info label.default span {
  font-weight: normal;
  font-size: 15px;
  color: #939393;
}

.file-type input {
  opacity: 0;
  position: relative;
  z-index: 2;
  cursor: pointer;
  width: initial !important;
}

.file-type .upload {
  position: absolute;
  top: 0;
  color: #fff;
  /* padding: 7px 0; */
}

.file-type {
  position: relative;
}

.file-type .upload .filename {
  background: #b0181d none repeat scroll 0 0;
  border-radius: 13px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 13px;
  margin-right: 35px;
  padding: 15px 17px;
  z-index: -1;
}

.file-type .upload .filename i {
  padding-right: 18px;
  color: #fff;
}

.file-type .upload i {
  color: #adadad;
  font-style: normal;
  font-size: 16px;
}

.form-group label.heading {
  font-size: 20px;
  font-family: 'Open Sans';
  font-weight: 700;
  padding: 0 !important;
}

.contact_us .form-group.half input {
  width: 265px;
}

.row.user-data {
  padding-bottom: 35px;
  border: 1px solid #e1e1e1;
}

#form-user-info .file-type .default {
  padding: 4px 0;
}

#form-user-info .file-type input[type="file"] {
  padding: 13px 0;
}

#form-user-info .image_upload {
  display: none;
}

.image_upload img {
  width: 100%;
}

#form-user-info .image_upload label {
  width: initial;
}

.image_upload a {
  float: left;
  width: 100%;
  text-align: left;
  margin-top: 17px;
  color: #232323;
}

.white-text p, .white-text a {
  color: #fff;
  font-family: 'Lato';
  font-weight: 300;
  font-size: 20px;
}

.center-small {
  width: initial;
  font-size: 15px;
  padding: 19px 60px;
  border: 1px solid transparent;
  margin-top: 31px;
  line-height: normal;
}

.job-page .main-container {
  padding: 50px 0;
}

.container .mce-tinymce {
  width: 100%;
  display: inline-block;
  background: #f9f9f9;
}

.row.company-details {
  margin-bottom: 30px;
}

.page-title .main-container {
  padding: 33px 0 32px;
}

.dashboard .main-container {
  padding: 40px 0 41px;
}

.container .small-heading {
  font-size: 25px;
  margin: 18px 0;
  float: left;
  width: 100%;
}

ul.skills {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.skills li {
  float: left;
  background: #f6f6f6;
  padding: 13px 29px;
  line-height: normal;
  margin-right: 9px;
  font-size: 13px;
  color: #333;
}

ul.education li {
  margin: 0;
  padding: 22px 33px 22px;
  border-bottom: 1px solid #e3e3e3;
}

ul.education li:last-child {
  border-bottom: none;
}

ul.education .data-row:before {
  background: #e3e3e3;
  width: 16px;
  height: 16px;
  top: 5px;
  content: "";
  position: absolute;
  left: 0;
  border-radius: 100%;
}

ul.education li .data-row {
  padding-left: 48px;
  line-height: normal;
  position: relative;
}

ul.education .data-row:after {
  content: "";
  position: absolute;
  width: 13px;
  height: 1px;
  background: #e3e3e3;
  left: 24px;
  top: 13px;
}

ul.education {
  padding: 22px 0 0;
  background: #f6f6f6;
  margin: 18px 0;
}

ul.education h3 {
  margin: 20px 0;
  font-size: 17px;
  font-family: 'Lato';
  font-weight: 400;
  font-weight: bold;
}

ul.education li p {
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 0;
}

ul.education li:after, ul.education li:before {
  opacity: 0;
}

.user-info ul li ul li {
  padding-right: 27px;
}

#add_new {
  width: 46px;
  height: 46px;
  color: #fff;
  background: #b0181d;
  text-align: center;
  padding: 15px;
  float: left;
  font-size: 16px;
  border-radius: 17px;
}

.preview_cv a {
  margin: 0;
}

.container .modal-dialog {
  width: 455px;
  margin-top: 103px;
}

.container .modal-dialog .modal-content {
  border-radius: 30px;
  float: left;
  width: 100%;
}

.modal-open .modal .modal-dialog {
  overflow: hidden;
}

.modal-header .close {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 1;
  margin: 0;
  color: #f71212;
  height: 48px;
  line-height: 0px;
  padding: 24px;
}

.container .modal-dialog .modal-header {
  position: relative;
}

.modal-dialog h3 {
  color: #333;
  text-transform: none;
  font-size: 24px;
  float: left;
  width: 100%;
  line-height: normal;
}

.modal-dialog h3 span {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 14px;
  float: left;
  width: 100%;
  color: #b0181d;
  margin-top: 10px;
}

.modal-dialog label {
  float: left;
  width: 100%;
  text-align: left;
  margin-bottom: 1px;
}

.modal-dialog input, .modal-dialog textarea {
  width: 100%;
  background: #f9f9f9;
  border: 1px solid #e2e2e2;
  padding: 11px 15px;
}

.modal-dialog .modal-body {
  padding: 27px;
}

.container .modal-dialog .upload {
  position: relative;
  float: left;
  width: 100%;
}

.container .modal-dialog .upload input {
  position: absolute;
  top: 0;
}

.container .modal-dialog .upload .filename {
  padding: 15px 16px;
  float: left;
}

.container .modal-dialog .upload i {
  padding: 14px 0;
  float: left;
}

.container .modal-dialog .upload .filename i {
  padding: 0;
  margin-right: 16px;
  position: static;
}

.modal-dialog .file-type {
  float: left;
}

.modal-dialog .modal-footer {
  float: left;
  width: 100%;
}

.modal-dialog .modal-footer span {
  text-align: center;
  width: 55%;
  float: none;
  margin: 0px auto;
  display: block;
  font-size: 13px;
}

.modal-dialog .modal-footer a {
  width: 100%;
  text-align: center;
  float: left;
}

.modal-dialog .modal-footer i {
  width: 100%;
  text-align: center;
  float: left;
  font-style: normal;
  margin: 10px 0;
}

.modal-dialog .modal-footer span.submit-resume {
  background: #333;
}

#lost-password label {
  padding: 0;
  line-height: normal;
}

.slides iframe {
  width: 100%;
  height: 563px;
}

.parallax-window {
  min-height: 668px;
  background: transparent;
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#loader {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 80%;
  border: 3px solid transparent;
  border-top-color: #ce9114;
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #fff;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #b0181d;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loadessr {
  background: #d9d9d9;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999999;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

.wrapper-404 img {
  margin-bottom: 50px;
}

.wrapper-404 h1 {
  font-size: 100px;
  color: #636363;
  font-weight: 300;
  line-height: 71px;
  margin-bottom: 22px;
}

.wrapper-404 h2 {
  font-size: 30px;
  margin-bottom: 0;
  font-weight: 300;
  color: #636363;
  line-height: 24px;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
